// Colors
$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey-500: #a1a1a1;
$clr-grey-800: #1f1f1f;

// Font-family
$ff-league-spartan: "League Spartan", sans-serif;

// Font-weights
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Font-sizes
$fs-base: 16px;
$fs-normal: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-xlarge: 3rem;

// Breakpoints
$breakpoint-desktop: 48rem; // 768px
