@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @include for-desktop-up {
    justify-content: flex-start;
    gap: 4rem;
    padding: 3rem 4rem;
  }

  &__menu-toggle {
    position: absolute;
    left: 1rem;
    z-index: 101;

    @include for-desktop-up {
      display: none;
    }
  }

  &__logo {
    object-fit: contain;
  }

  &__nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-white;

    @include for-desktop-up {
      display: flex;
      width: 85%;
      background-color: transparent;
    }
  }

  &__menu-close {
    @include for-desktop-up {
      display: none;
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;

    @include for-desktop-up {
      gap: 2rem;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $clr-black;
    font-weight: $fw-bold;
    position: relative;
    padding-bottom: 8px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $clr-white;
      transition: width 0.3s ease-in-out;
    }

    &:focus-visible {
      outline: 2px solid $clr-white;
      outline-offset: 2px;
    }

    @include for-desktop-up {
      color: $clr-white;

      &:hover::after,
      &:focus-visible::after {
        width: 50%;
      }
    }
  }
}
